h1 {
  margin: 1em;
  font-size: 3em;
  font-family: cursive;
  text-align: center;
}

.allSymbols {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  img {
    width: 80px;
    height: 80px;
  }
}

main {
  background-image: url(../../assets/images/graphics/background.png);
  position: relative;
  width: 1200px;
  height: 800px;
  margin: 2em auto;
  // box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    width: 500px;
    // margin: 0 auto;

    .game-container {
      position: relative;
      overflow: hidden;
      height: 410px;
      width: 500px;
      margin: 0 auto;
      background-color: rgb(54, 50, 50);
      // border: 4px solid gold;

      .game {
        transform: translateY(calc(-100% + 415px));
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        align-items: center;

        img {
          width: 100px;
          height: 100px;
        }
      }

      .spining {
        animation: spin 3s ease-in-out forwards;
      }

      .default {
        transform: translateY(0);
      }
    }

    .button-container {
      width: 100%;

      button {
        position: absolute;
        margin-top: 1em;
        padding: 1em 2em;
        outline: unset;
        left: 50%;
        transform: translateX(-50%);
        // background-color: #007e00;
        background-color: unset;
        border-radius: 200px;
        color: white;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        z-index: 201203102301;

        &:disabled {
          opacity: .5;
          cursor: unset;
        }

        &:hover {
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }

  }
}


@keyframes spin {
  0% {
    transform: translateY(calc(-100% + 415px));
    filter: blur(1px);
  }

  50% {
    filter: blur(3px);
  }

  80% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.005);
  }

  100% {
    filter: blur(0);
    transform: translateY(0);
    transform: scale(1);
  }
}

#line-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  animation: lineAnim 2s ease-in-out forwards;
}


@keyframes lineAnim {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
